<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762399422709-3qc4bas5fvi6qr4gt0i7htfhsh4j442a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762399422709-3qc4bas5fvi6qr4gt0i7htfhsh4j442a</string>
	<key>API_KEY</key>
	<string>AIzaSyBgAKCQW5D9pWbhWuFd2JwxF4Af7ygjgUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>762399422709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ltsi.Pixabay</string>
	<key>PROJECT_ID</key>
	<string>pixabay-1d8ed</string>
	<key>STORAGE_BUCKET</key>
	<string>pixabay-1d8ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762399422709:ios:15a438ee5f2d3d145a6dbc</string>
</dict>
</plist>